
body {
  background-color: black;
}
#container {
  display:inline-block;
  float:left;
}

#message {
  color: white;
  font-size: 50px;
  display:inline-block;
  position:absolute;
  top: 850px;
  left: 250px;
  
  
}
#sidemessage {
  float: left;
  color: white;
  font-size: 100px;
  width: 120px;
  padding: 10px;
  display:inline-block;
}

#ascii {
  float: left;
  font-size: 9px;
  font-family: 'Courier New', monospace;
  line-height: 1em;
  display:inline-block;
}

#container p {
  margin: 0;
  padding: 0;
  line-height: 1em;
  display: inline-block;
  float:left;
}

canvas {
  display:none;
}
